/*This is for the big title at the center i used some flexbox properties */
.main-title {
    position: relative;
    height: 60vh;
    background: url("Images/nawiii plan img.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nawiihaha {
    letter-spacing: 2px;           
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Arial Black', sans-serif;
    margin: 0;
}
 .animate{
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSlideUp 1s ease-out forwards;
  animation-delay: 0.3s;
}
  @keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(220, 224, 217, 0.9);
  border-radius: 8px;
  color: #1C1C1C;
}

.intro h2 {
  color: #854836;
  text-align: center;
  font-size: 2rem;
}
 .
/* ====== FOOTER ====== */
footer {
  background-color: #854836;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .nawiihaha {
    font-size: 3.5rem;
  }
  
  .Cultural-more {
    width: 100%;
  }
    .contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between fields */
}
.contact-form label {
  font-weight: bold;
  color: #1C1C1C;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #F8F8F8;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #5A7C8A;
  background-color: #fff;
}
.contact-form button {
  padding: 10px 16px;
  background-color: #5A7C8A; /* soft blue from site */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form button:hover {
  background-color: #4A3F36; /* dark brown hover */
}
